# Listas 

Son contenedores que permiten almacenar una colección de objetos en un orden determinado. Se pueden acceder, añadir o eliminar objetos de forma sencilla

In [1]:
l1 = [] # lista vacía

In [2]:
l2 = ['a','e','i','o','u'] # lista con valores iniciales

In [3]:
l3 = [2,1,4,3,2] # lista de valores enteros

In [4]:
l4 = ['a', 4, True, "Juanito"] # lista de varios tipos de datos

In [5]:
l4

['a', 4, True, 'Juanito']

In [6]:
l5 = [0] * 10 # Declarar una lista con 10 0s

In [7]:
l5

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [5]:
l4[0] # lista en la primera posición

'a'

In [6]:
l4[0:2] # Accesos de posiciones múltiples (incluye la primer, pero no la última)

['a', 4]

In [7]:
l5[1:4] = [2,3,4]

In [8]:
l5

[0, 2, 3, 4, 0, 0, 0, 0, 0, 0]

In [9]:
l5.append(1)

In [10]:
l5

[0, 2, 3, 4, 0, 0, 0, 0, 0, 0, 1]

In [11]:
l5.remove(3) # Elimina la primera ocurrencia del objeto 3 de la lista 5

In [12]:
l5

[0, 2, 4, 0, 0, 0, 0, 0, 0, 1]

In [13]:
l5.reverse() # Colocar en sentido opuesto a la lista

In [14]:
l5

[1, 0, 0, 0, 0, 0, 0, 4, 2, 0]

In [15]:
l5.count(0) # Número de ocurrecncias del elemento dado

7

In [16]:
l5.index(4) # Indice del objeto dado

7

In [17]:
len(l5) # Cantidad de elementos de la lista

10

In [18]:
L = [1,2,3,4,5,6]

In [19]:
L[1::2] # Acceso del segundo elemento hasta el último con paso 2

[2, 4, 6]

In [20]:
L[::2] # Obtener los elementos de posición par

[1, 3, 5]

In [21]:
L[-1] # Se puede usar número negativos para acceder de derecha a izquierda

6

# Bucles

Los bucles **for** iteran sobre una colección (lista, string, objeto iterable)

In [22]:
for num in L: # La variable num es temporal, existiendo solo dentro del bucle
    print(num)

1
2
3
4
5
6

In [23]:
for x in range(0,10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [24]:
for c in "Daniel M":
    print(c)

D
a
n
i
e
l

M

In [25]:
notas = [6.8,9.8,7.4,5.5]
suma = 0
for nota in notas:
    suma = suma + nota

print(suma/len(notas))

7.375

El bucle **while** se repite hasta que la condición booleana deja de ser cierta

In [28]:
count = 0
while count < 10:
    print(count)
    count += 1

0
1
2
3
4
5
6
7
8
9

In [31]:
# Recorrer objetos e indices
primos = [2,3,5,7,11,13,17,19,23,29]
for i,p in enumerate(primos): # el método enumerate() devuelve tanto el índice como el objeto
    print(i, p)

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

In [34]:
# Otra forma de acceder a los indices más explícitamente
for i in range(len(primos)):
    print(i, primos[i])

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

## Criba de eratostenes

In [42]:
def primos(n):
    '''Una función que devuelve los números primos anteriores al número dado
    Se basa en el algoritmo llamado Criba de Eratóstenes'''
    
    if n < 2:
        return "Error"
    
    res = list(range(2,n+1))
    j = 0
    while res[j]**2 <= n:
        d = res[j]
        for i in res[j+1:len(res)]:
            if i % d == 0:
                res.remove(i) 
        j += 1
    return res
    

primos(17)

[2, 3, 5, 7, 11, 13, 17]

# Tupla

Una tupla es una colección de objetos que no pueden modificarse (tiene tamaño y contenido fijo).
En programación algo que no se modifica, se sabe cuánta memoria ocupará, por lo que no se guarda memoria de SWAP

In [7]:
p1 = (1,) # tupla de un solo elemento debe llevar una coma
p1

(1,)

In [22]:
p2 = (1,2,3,4)
p2

(1, 2, 3, 4)

In [41]:
p2[3]

4

In [44]:
p2[0:2]

(1, 2)

In [46]:
a,b,c,d = p2 # Forma de inicializar variables con una tupla

In [48]:
a

1

In [51]:
l2 = list(p2) # Trasnformar tupla a lista
l2

[1, 2, 3, 4]

In [53]:
p3 = tuple(l4) # Transformar lista a tuple
p3

('a', 4, True, 'Juanito')

In [54]:
"Hola soy yo".split(" ")

['Hola', 'soy', 'yo']

In [43]:
def list2tuple():
    x = input("Write the numbers by making separations with comma: ")
    r = x.split(",")
    for i,n in enumerate(r):
        r[i] = int(n)
    return tuple(r)

list2tuple()

Write the numbers by making separations with comma: 2,6,8,4,56

(2, 6, 8, 4, 56)

# Diccionarios
Colección no ordenada de pares de valores: claves <_> valores. Se indexa no por posición, si no utilizando las claves

In [44]:
nombre = "Daniel Macias" # Un placeholder es un espacio en un string que se sustituye
print("Hola %s" % nombre) 
# Cadena de formateo, %s es un simbolo que representa un placeholder

Hola Daniel Macias

In [45]:
print("Esto es un número: %d" % 23) # placeholder para enteros

Esto es un número: 23

In [49]:
print("Esto es un número: %f" % 454.6) # placeholder para valores de punto flotante

Esto es un número: 454.600000

In [50]:
# En el anterior se puede incluso indicar cuantos decimales indicar
print("Esto es un número: %.2f" % 24.2415)

Esto es un número: 24.24

In [51]:
# Un diccionario se define de la siguiente manera
edad = {
    "Dana Martinez":22,
    "Daniel David":23,
    "Greg Parker":63,
    "Mirai Ki":54 
}

In [52]:
edad["Dana Martinez"]

22

In [53]:
edad.keys()

dict_keys(['Dana Martinez', 'Daniel David', 'Greg Parker', 'Mirai Ki'])

In [54]:
edad.values()

dict_values([22, 23, 63, 54])

In [55]:
len(edad)

4

In [59]:
"Pepe" not in edad

True

In [58]:
"Dana Martinez" in edad

True

In [60]:
del edad["Daniel David"] # Eliminar un elemento

In [61]:
edad

{'Dana Martinez': 22, 'Greg Parker': 63, 'Mirai Ki': 54}